/* ================================= 
  Base Styles
==================================== */

* {
    box-sizing: border-box;
}

body{
 background-color:#FFFFFF;
 color:#000000;
 font-family: 'Varela Round', sans-serif;
 font-size: .95em;
 line-height: 20px;
}

a:link { 
    color: black;
}
a:visited {
    color: black;
}
a:hover {
    color: black;
}

.container{
    margin: 0 auto;
    margin-bottom: 30px;
  	width: 80%;
}

/* HEADER */
#headerImage{
    text-indent: -9999px; 
	background: #FFFFFF url(../img/pageHeader_200x268.png) no-repeat;
	height: 268px;
	width: 200px;
	position: relative;
	margin-top: 15px;
    margin: 0 auto;
}

#headerName {
   text-align: center;
   position:relative;
}

#headerJob {
    text-align: center;
    position:relative;
}

/* BLURB */
.columnItem{
    display:inline;
    float:left;
    margin-top:30px;
    margin-left:10px;
    margin-right:30px;
	width:40%;
	height:430px; 
}

.columnItemSml{
    display:inline;
    float:left;
    margin-top:30px;
    margin-right:20px;
	width:10%;
	height:360px; 
}

.columnItemSml .skillsList{
    font-size:20px;
    line-height: 32px;
    padding-left: -10px;
}

/* SECTION HEADER */
.sectionHeader{
    clear:left;
    color:#ffffff;
    background-color:#444444;
    padding:10px;
}

/* EXPERIMENTS */
.experiments {
    display: flex;
    flex-wrap:wrap;
    justify-content: space-around;
    height: 200px;
    margin: 40px 0;
}

.experimentsItem {
    padding-right: 20px;
}

.experimentsItem img {
    border: 1px solid black;
}

.experimentsItem p {
    width: 220px;
    text-align: center;
    position:relative;
}

.experimentsItem a {
    text-decoration: none;
}

/* PORTFOLIO ITEMS */
.portfolio{
    clear:left;
    margin:10px;
}



.portfolio .portfolioItem{
    clear:left;
    border-bottom:1px solid #696969;
    height:210px;
}


.portfolio .portfolioItem .itemLeftCol{
    float:left;
    display:inline;
    width:250px;  
}

.portfolio .portfolioItem .itemRightCol{
    float:left;
    margin-top:10px;
    margin-left: 10px;
    width:600px;
}
