/* ================================= 
  Base Styles
==================================== */

* {
    box-sizing: border-box;
    border:0px solid grey;
}

body{
  color: #202020;
  background-color:#FFFFFF;
  font-family: 'Varela Round', sans-serif;
  font-size: .95em;
  line-height: 20px;
}


a:link, a:visited, a:hover { 
    color: black;
    text-decoration: none;
}


/* ================================= 
  Base Layout Styles
==================================== */

/* ----- sections  ----- */

.section-intro {
  background: #FFFFFF url(../img/intro-image-cropped.png) no-repeat;
}

.section-subintro {
  background-color: #FFFFFF;
}

.section-recent-projects {
  background-color: #e5e5e5;
  padding-top: 30px;
  padding-bottom: 20px;
}

.section-portfolio {
  background-color: white;
  padding-top: 30px;
  padding-bottom: 20px;
}


/* ----- header ----- */
.header {
    background-color: rgb(252, 211, 0);
}

.header_content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
    padding-top: 40px;
}


.header_logo {
    text-transform: uppercase;
    font-size: 24px;
    line-height: 1.2;
}

.header_nav {
    display: flex;
    flex-wrap: wrap;
    letter-spacing: .05em;
    text-transform: uppercase;
    font-size: 16px;
}

.header_nav a {
  padding-right: 10px;
}


/* ----- intro ----- */

.intro_content {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: row;
    padding: 140px 0 60px 0;
}

.intro_cta {
    font-size: 70px;
    font-weight: 500;
    line-height: 1.1;
    letter-spacing: -.05em;
    word-break: break-all;
}

.intro_skills {
    font-size: 30px;
    font-weight: 400;
    line-height: 1.1;
    letter-spacing: -.05em;
    vertical-align: baseline;
    margin-right:100px;
}

.intro_github-button{
  margin-top:20px;
  background-color:rgb(252, 211, 0);
  font-size:.65em;
  padding:15px 0px 15px 15px;
  border: 3px solid black;
  border-radius:5%;
}


/* ----- subintro----- */

.subintro_content{
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: row;
  padding-bottom:40px;
}

.subintro_cta {
  font-size: 40px;
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: -.05em;
  padding: 60px 60px 30px 60px;
}


.subintro_text {
  background-color: #fff;
  color: grey;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: -.05em;
}

.subintro_image {
  border-radius: 50%;
  margin-top:30px;
  margin-right: 110px;
}


/* ----- project ----- */
.project_header {
  font-size: 40px;
  padding-top:20px;
  padding-bottom:20px;
}

.project_content {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-around;
  flex-direction: row;
  margin-bottom: 10px;
  padding: 20px 0px 80px 0px;
}

.project_box_image {
  height: auto;
  max-width: 100%;
  margin-right: 20px;
}


.project_box_text h2 {
    font-family: sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.1;
}

.project_box_text p {
    font-family: 'Unna', serif;
    font-size: 24px;
    line-height: 1.6;
    margin-right: 10px;
}


/* ----- footer ----- */

.footer {
    background-color: rgb(252, 211, 0);
}

.footer_header {
    font-size: 50px;
    font-weight: 500;
    line-height: 1.1;
    letter-spacing: -.05em;
    padding-top:40px;
    padding-bottom:20px;
}


.footer_content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
}

.footer_contact_item {
  display:inline;
  margin-right: 50px;
  margin-bottom: 20px;
  font-size: 24px;
}

.footer_contact_icon {
  margin-right:5px;
}

.footer_contact_text {
  word-break: break-all;
}

.footer_copyright {
   padding-top:60px;
   font-size: 18px;
}

/* ================================= 
  Media Queries
==================================== */
/* 
Target screens 769px and wider.
Start with a simple one column layout and
add advanced layout to this media query.
Set max-width so the content can extend only
to a certain width.
*/
@media (min-width: 768px) {
  .header_content {
    width: 90%;
    margin: 0 auto;
    max-width:1520px;
  }
  .intro_content {
    width: 80%;
    margin: 0 auto;
    max-width:1520px;
  }
  .subintro_content {
    width:80%;
    margin: 0 auto;
    max-width:1520px;
  }
  .project_header {
    width: 65%;
    margin: 0 auto;
    max-width:1200px;
  }
  .project_content {
    width: 65%;
    margin: 0 auto;
    max-width: 1200px;
  }
  .footer_header {
    width: 90%;
    margin: 0 auto;
    max-width:1520px;
  }
  .footer_content {
    margin: 0 auto;
    width: 90%;
    max-width:1520px;
  }
  .subintro_text {
    max-width:800px;
  }
  .project_box_text{
    max-width: 400px;
  }
  .project_box_image {
    max-width: 400px;
  }
}

@media (min-width: 1224px) {
  
}

@media (min-width: 1824px) {
  .subintro_text {
    max-width:1200px;
  }
  .project_box_text{
    max-width:950px;
  }
  .project_box_image {
    max-width: 500px;
  }
}
