/* ================================= 
  Base Styles
==================================== */

* {
    box-sizing: border-box;
}

body{
  color: #202020;
 background-color:#FFFFFF;
 font-family: 'Varela Round', sans-serif;
 font-size: .95em;
 line-height: 20px;
}

h2 {
    padding-top:6px;
}

a:link, a:visited, a:hover { 
    color: black;
    text-decoration: none;
}


/* ================================= 
  Base Layout Styles
==================================== */

/* ---- Layout Containers ---- */
.container{
    margin: 0 auto;
    margin-bottom: 30px;
}

.main-header {
    background: #c9e4ea;
    padding: 1em 0;
    text-align: center;
}

.main-footer {
    text-align: center;
    padding: 2em 0;
    background-color: rgb(252, 211, 0);
}


/* ---- Page Elements ---- */

/* HEADER */
#headerImage{
  background: #FFFFFF url(../img/pageHeader_200x268.png) no-repeat;
  height: 268px;
  width: 200px;
  margin: 0 auto;
}


.sectionHeader{
    color:#ffffff;
    background-color:#444444;
    padding:10px;
}

.github-link{
  margin-top:60px;
  border:solid 3px black;
  font-size:.65em;
  padding:15px;
}
.info{
  background-color: lightgrey;
  padding: 60px 60px 300px 60px;
}


/* ---- Font Review Journal Redesign ---- */
/* http://fontreviewjournal.com/timmons-ny/ */

.header {
    padding-top: 40px;
    background-color: rgb(252, 211, 0);
}

.header_box_container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin: 0 auto;
    width: 90%;
}

.header_box {
}


.header_logo {
    display: block;
    text-transform: uppercase;
    font-family: 'Varela Round',sans-serif;
    font-size: 24px;
    line-height: 1.2;
    max-width: 240px;
}

.header_nav {
    letter-spacing: .05em;
    text-transform: uppercase;
    font-family: 'Varela Round',sans-serif;
    font-size: 16px;
}


.intro_box_container {
    padding: 240px 0 160px 0;
    margin: 0 auto;
    max-width: 1520px;
    width: 90%;
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
}

.intro_box {
  
}

.intro_skills {
  font-family: 'Varela Round',sans-serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 1.1;
    letter-spacing: -.05em;
    max-width: 220px;
        margin: 0;
    padding: 0;
    vertical-align: baseline;
    border:solid 0 black;
}

.intro_cta {
    font-family: 'Varela Round',sans-serif;
    font-size: 90px;
    font-weight: 500;
    line-height: 1.1;
    letter-spacing: -.05em;
    max-width: 800px;
     border:solid 0 black;
}

/* ================================= 
  Media Queries
==================================== */
@media (min-width: 1000px) {
   .info {
        display: flex;
        justify-content: space-around;
   }
   .info-item {
        border: solid 0 red;
        padding-right: 30px;
   } 
   .projects {
        display: flex;
        flex-wrap:wrap;
        justify-content: space-around;
   }
   .project-item {
        width:284px;
         border: solid 2px black;
         border-radius:5px;
         background-color:white;
   }
}